.grid1{
    background-color: rgba(233, 176, 242);
    width: 70%;
    height: 700px;
    border: 6px dotted rgb(220, 15, 252);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap:20px ;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
}
.TranformacionOctal{
    width: 90%;
    height: 500px;
    background-color: rgba(245, 220, 249);
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat (3, 1fr);
    grid-column-gap:20px ;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}

.SalidaOperaciones{
    background-color: rgba(245, 220, 249);
    width: 90%;
    height: 500px;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat (3, 1fr);
    grid-column-gap:20px ;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}
h3{
    font: small-caps 160%/200% serif;
}
p{
    justify-self: center;
    align-self: center;
    margin: 5%;
}